*{
    margin: 0px;
    padding: 0px;
}

body.index{
    background-color:#1B998B ;
    list-style-type: none;
}
body.page1{
    background-color:#19323C ;
}
body.page2{
    background-color:#8C271E ;
}
nav{
    background-color: #333;
    overflow: hidden;
}
  

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 33%;
}


nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a.active{
    background-color: #04AA6D;
    color: white;
}
nav a:hover{
    background-color: #ddd;
    color: 
    
}