*{
    margin: 0px;
    padding: 0px;
    ::view-transition {
        background-color: rgb(0 0 0 / 25%);
      }
}



body.index{
    background-color:#1B998B ;
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
}

body.page1{
    background-color:#19323C ;
    margin-top: 30px;
}
body.page2{
    background-color:#8C271E ;
    margin-top: 30px;
    text-align: center;
}

.p2.page2{
    font-family:fantasy;
}

nav{
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #333;
    overflow: hidden;
    background-image: linear-gradient(to right, #1B998B, #19323C ,#8C271E);
    display: flex;
    justify-content: center
}
  

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 33%;
}


nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a.active{
    border-bottom: 3px solid red;
    transition: border-bottom 0.1s ease-in-out;
}
nav a:hover{
    border-bottom: 3px solid red;
    transition: border-bottom 0.3s ease-in-out;
    
}