*{
    margin: 0px;
    padding: 0px;   
}


body{
    background-color: black;
    color:WHITE;
    
}
nav{
    width: 100%;
    margin: 0 auto;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
}

nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    
}