*{
    margin: 0px;
    padding: 0px;
    ::view-transition {
        background-color: rgb(0 0 0 / 25%);
      }
}


body.index{
    background-color:#1B998B ;
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
}
.bloc{
    height: 100vh;
    width: 100%;
}
.bloc video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;

}

.Titre{
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 20vh;
    position: relative;
    text-align: center;
    z-index: -1;
}
.encadre{
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
body.page1{
    background-color:#19323C ;
    margin-top: 30px;
}
body.page2{
    background-color:#8C271E ;
    margin-top: 30px;
    text-align: center;
}

.p2.page2{
    font-style: bold;
}

nav{
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #333;
    overflow: hidden;
    background-image: linear-gradient(to right, #1B998B, #19323C ,#8C271E);
    display: flex;
    justify-content: center
    
}
  

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 33%;
}


nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a.active{
    border-bottom: 3px solid red;
    transition: border-bottom 0.1s ease-in-out;
}
nav a:hover{
    border-bottom: 3px solid red;
    transition: border-bottom 0.3s ease-in-out;
    
}