*{
    margin: 0px;
    padding: 0px;   
}


body{
    background-color: black;
    color:WHITE;
    
}
nav{
    width: 100%;
    margin: 0 auto;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
    background-color: #333;
    overflow: hidden;
}

nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a.active{
    background-color: #04AA6D;
    color: white;
}
nav a:hover{
    background-color: #ddd;
    color: black;
    
}